<% layout('layouts/boilerplate') %>
<div class="container">
  <h3 class="text-center mb-4">Welcome, <%= loggedInVoter.fullName %></h3>
  <div class="row">
    <!-- 1================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">PRESIDENT</h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="president">
            <option value="index">Select Candidate</option>
            <% for(let president of presidents) { %>
            <option value="<%= president.fullName %>"><%= president.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 2================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">VP-INTERNAL</h5>

        <svg class="card-img-top" width="100%" height="200" focusable="false">
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>

        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="vpInternal">
            <option value="index">Select Candidate</option>
            <% for(let vpInternal of vpInternals) { %>
            <option value="<%= vpInternal.fullName %>"><%= vpInternal.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 3================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">VP-EXTERNAL</h5>
        <svg class="card-img-top" width="100%" height="200" focusable="false">
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="vpExternal">
            <option value="index">Select Candidate</option>
            <% for(let vpExternal of vpExternals) { %>
            <option value="<%= vpExternal.fullName %>"><%= vpExternal.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 4================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">AUDITOR</h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="auditor">
            <option value="index">Select Candidate</option>
            <% for(let auditor of auditors) { %>
            <option value="<%= auditor.fullName %>"><%= auditor.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 5================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">TREASURER</h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="treasurer">
            <option value="index">Select Candidate</option>
            <% for(let treasurer of treasurers) { %>
            <option value="<%= treasurer.fullName %>"><%= treasurer.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 6================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">SECRETARY</h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="secretary">
            <option value="index">Select Candidate</option>
            <% for(let secretary of secretaries) { %>
            <option value="<%= secretary.fullName %>"><%= secretary.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 7================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">PRO</h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="pro">
            <option value="index">Select Candidate</option>
            <% for(let pro of pros) { %>
            <option value="<%= pro.fullName %>"><%= pro.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 8================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          1ST YR REPRESENTATIVE
        </h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="firstYearRep">
            <option value="index">Select Candidate</option>
            <% for(let firstYearRep of firstYearReps) { %>
            <option value="<%= firstYearRep.fullName %>"><%= firstYearRep.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 9================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          2ND YR REPRESENTATIVE
        </h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="secondYearRep">
            <option value="index">Select Candidate</option>
            <% for(let secondYearRep of secondYearReps) { %>
            <option value="<%= secondYearRep.fullName %>"><%= secondYearRep.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 10================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          3RD YR REPRESENTATIVE
        </h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="thirdYearRep">
            <option value="index">Select Candidate</option>
            <% for(let thirdYearRep of thirdYearReps) { %>
            <option value="<%= thirdYearRep.fullName %>"><%= thirdYearRep.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- 11================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-secondary">
        <h5 class="card-title text-center my-2 text-white">
          4TH YR REPRESENTATIVE
        </h5>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96" />
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
        </svg>
        <div class="card-body p-0">
          <select class="form-select" aria-label="Default select example" id="fourthYearRep">
            <option value="index">Select Candidate</option>
            <% for(let fourthYearRep of fourthYearReps) { %>
            <option value="<%= fourthYearRep.fullName %>"><%= fourthYearRep.fullName %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    <!-- BUTTONS================================= -->
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <h5 class="card-title text-center py-2 text-white bg-secondary">
          OPTIONS
        </h5>

        <div class="row card-body d-grid gap-2 px-5">
          <div id="vote-button" class="btn btn-dark mb-3 px-auto">
            CAST MY VOTE
          </div>
          <div id="reset-button" class="btn btn-dark mb-3 px-auto">RESET</div>
          <div id="help-button" class="btn btn-dark mb-3 px-auto" data-bs-toggle="modal" data-bs-target="#help">
            HELP
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('./confirm_votes_modal') %>

  <%- include('./help_modal') %>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

  <script>
    $(document).ready(function() {

      $("#vote-button").click(function(event) {
        const selectedIds = [
          "president", "vpInternal", "vpExternal", "auditor", "treasurer",
          "secretary", "pro", "firstYearRep", "secondYearRep", "thirdYearRep",
          "fourthYearRep"
        ];

        let hasUnselected = false;
        let firstUnselectedId = "";

        // president = $("#president").val();
        // vpInternal = $("#vpInternal").val();
        // vpExternal = $("#vpExternal").val();
        // auditor = $("#auditor").val();
        // treasurer = $("#treasurer").val();
        // secretary = $("#secretary").val();
        // pro = $("#pro").val();
        // firstYearRep = $("#firstYearRep").val();
        // secondYearRep = $("#secondYearRep").val();
        // thirdYearRep = $("#thirdYearRep").val();
        // fourthYearRep = $("#fourthYearRep").val();

        // Object to store selected values
        let selectedValues = {};

        for (let i = 0; i < selectedIds.length; i++) {
          const selectId = selectedIds[i];
          const selectedValue = $("#" + selectId).val();

          if (selectedValue === "index") {
            hasUnselected = true;
            firstUnselectedId = selectId;
            break;
          }

          // Store selected value in the object
          selectedValues[selectId] = selectedValue;
        }

        if (hasUnselected) {
          alert("Please select a candidate for all positions");
          $("#" + firstUnselectedId).focus();
        } else {

          // $("#presidentName").text(president);
          // $("#vpInternalName").text(vpInternal);
          // $("#vpExternalName").text(vpExternal);
          // $("#auditorName").text(auditor);
          // $("#treasurerName").text(treasurer);
          // $("#secretaryName").text(secretary);
          // $("#proName").text(pro);
          // $("#firstYearRepName").text(firstYearRep);
          // $("#secondYearRepName").text(secondYearRep);
          // $("#thirdYearRepName").text(thirdYearRep);
          // $("#fourthYearRepName").text(fourthYearRep);

          for (const [id, value] of Object.entries(selectedValues)) {
            $("#" + id + "Name").val(value);
          }

          $("#confirm").modal("show");
        }
      });


      $("#reset-button").click(function(event) {
        window.location.reload();
      });

      $("#help-button").click(function(event) {
        event.preventDefault();
        // Modal for help
      });
    });
  </script>


</div>