<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <h1 class="text-center mb-4">VOTES RATE</h1>
    <div class="col-lg-10 offset-lg-1 mb-5">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-3">
          <div class="card m-3">
            <div class="card-body table-container table-responsive p-0">
              <table
                id="candidateTable"
                class="table table-bordered table-striped table-dark"
              >
                <thead>
                  <tr>
                    <th>IdNumber</th>
                    <th>voteCount</th>
                    <th>partyName</th>
                    <th>position</th>
                    <th>fullName</th>
                    <th>course</th>
                    <th>yearLevel</th>
                    <th hidden>candidateId</th>
                  </tr>
                </thead>
                <tbody>
                  <% candidates.forEach(function(candidate){ %>
                  <tr>
                    <td><%= candidate.candidateIdNumber %></td>
                    <td><%= candidate.voteCount %></td>
                    <td><%= candidate.party %></td>
                    <td><%= candidate.position %></td>
                    <td><%= candidate.fullName %></td>
                    <td><%= candidate.course %></td>
                    <td><%= candidate.yearLevel %></td>
                    <td hidden><%= candidate._id %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <div class="card-text"></div>
            </div>
          </div>

          <!-- ========= -->

          <div class="d-flex row px-3">
            <div class="col mb-3 gap-2 d-flex justify-content-start">
              <h5 class="form-label mt-1" for="position">Position:</h5>
              <select
                class="form-select"
                aria-label="Default select example"
                id="position"
                name="position"
              >
                <option value="0"></option>
                <% for(let position of candidatePositions) { %>
                <option value="<%= position %>"><%= position %></option>
                <% } %>
              </select>
            </div>
            <div class="col mb-3 d-grid gap-2 d-flex justify-content-end">
              <button
                class="btn btn-dark me-2 btn-sm"
                type="button"
                id="refresh-button"
              >
                Refresh
              </button>
              <button
                class="btn btn-dark btn-sm"
                type="button"
                id="result-button"
                data-bs-target="#result"
                data-bs-toggle="modal"
              >
                View Result
              </button>
            </div>
          </div>
          <!-- ========= -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
  $(document).ready(function () {
    // Filter Candidate by position
    $("#position").change(function () {
      const selectedPosition = $(this).val();
      // Send an AJAX request to fetch candidates corresponding to the selected position
      $.ajax({
        url: `/standing/position/${selectedPosition}`,
        type: "GET",
        success: function (data) {
          // Clear previous table rows
          $("#candidateTable tbody").empty();

          // Update table rows with new data
          data.forEach(function (candidate) {
            $("#candidateTable tbody").append(`
          <tr>
            <td>${candidate.candidateIdNumber}</td>
            <td>${candidate.voteCount}</td>
            <td>${candidate.party}</td>
            <td>${candidate.position}</td>
            <td>${candidate.fullName}</td>
            <td>${candidate.course}</td>
            <td>${candidate.yearLevel}</td>
            <td hidden>${candidate._id}</td>
          </tr>
        `);
          });
        },
        error: function (xhr, status, error) {
          console.error("Error:", error);
        },
      });
    });

    $("#refresh-button").click(function (event) {
      window.location.reload();
    });

    // $("#view-button").click(function (event) {
    //   event.preventDefault();
    //   window.location.href = `/candidates/${id}`;
    // });
  });
</script>

<!-- Vertically centered scrollable modal -->
<div
  class="modal fade"
  id="result"
  aria-hidden="true"
  aria-labelledby="resultLabel"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h1 class="modal-title fs-5 text-body-secondary" id="resultLabel">
          OFFICIAL WINNER
          <!-- AS OF -->
        </h1>
        <!-- <h1 class="modal-title fs-5 text-body-secondary" id="resultLabel">
          Date Hour
        </h1> -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="card-title row">
              <h5 class="col text-primary">Postions:</h5>
              <h5 class="col text-primary text-center">Names:</h5>
              <h5 class="col text-primary text-center">Votes:</h5>
            </div>

            <div class="card-text row">
              <p class="col card-title">President</p>
              <p class="col text-center">-</p>
              <p class="col text-center">0</p>
            </div>
            <hr />
            <div class="card-text row">
              <h6 class="col text-danger mb-1">Vice Presidents:</h6>
            </div>
            <div class="card-text row">
              <p class="col mb-1">Internal</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col">External</p>
              <p class="col text-center">-</p>
              <p class="col text-center">0</p>
            </div>
            <hr />
            <div class="card-text row">
              <p class="col mb-1">Auditor</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col mb-1">Treasurer</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col mb-1">Secretary</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col">PRO</p>
              <p class="col text-center">-</p>
              <p class="col text-center">0</p>
            </div>

            <hr />

            <div class="card-text row">
              <h6 class="col text-danger mb-1">Representatives:</h6>
            </div>
            <div class="card-text row">
              <p class="col mb-1">1st Year</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col mb-1">2nd Year</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col mb-1">3rd Year</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
            <div class="card-text row">
              <p class="col mb-1">4th Year</p>
              <p class="col text-center mb-1">-</p>
              <p class="col text-center mb-1">0</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Votes Tally</button>
        <button type="button" class="btn btn-secondary">Print Winners</button>
      </div>
    </div>
  </div>
</div>
