<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center mb-4">Update your account</h1>
  <div class="col-md-6 offset-md-3 mb-5">
    <form method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="roles" for="roles">Account type:
        </label>
        <select class="form-select" id="roles" name="account[role]" aria-label="Default select example">
          <% for(let role of roles) { %>

          <option value="<%= role %>" <%= account.role  === role ? 'selected':''%>><%= role %></option>
          <% } %>
        </select>
        <div class="invalid-feedback">Choose account type</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="fullName">Full name: </label>
        <input class="form-control" type="text" name="account[fullName]" id="fullName" placeholder="eg. John Doe" value="<%= account.fullName %>" required />
        <div class="invalid-feedback">Please provide your full name</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="username">Username: </label>
        <input class="form-control" type="text" name="account[username]" id="username" placeholder="Create a username" value="<%= account.username%>" required />
        <div class="invalid-feedback">Please provide your username</div>
      </div>

      <div class="mb-3 d-grid">
        <button class="btn btn-dark">Update Account</button>
      </div>

    </form>
    <hr />
    <div class="row">
      <a class="mb-3 text-center" href="/accounts">Back to all accounts</a>
    </div>
  </div>
</div>


<%- include('../partials/message_modal') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function() {

    $(".validated-form").on("submit", function(event) {
      event.preventDefault();

      const formData = $(this).serialize();

      $.ajax({
        type: "POST",
        url: `/accounts/<%= account._id %>?_method=PATCH`,
        data: formData,
        success: function(response) {
          $("#successMessagePlaceholder").text(response.success);
          $('#success-modal').modal('show');

          $('#success-modal').on('hidden.bs.modal', function(e) {
            window.location.href = "/accounts";
          });
        },
        error: function(xhr) {
          const errorMessage = xhr.responseJSON.error;

          $("#errorMessagePlaceholder").text(errorMessage);
          $('#error-modal').modal('show');
        }
      });
    });

  });
</script>