<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-4">Show your account</h1>
  <div class="col-lg-10 offset-lg-1 mb-5">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="mb-3">
          <label class="form-label" for="accountType">Account type: </label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="accountType"
            disabled
          >
            <option selected>Choose account type</option>
            <option value="Administrator">Administrator</option>
            <option value="Facilitator">Facilitator</option>
          </select>
          <div class="invalid-feedback">Choose your year level</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="fullName">Full name: </label>
          <input
            class="form-control"
            type="text"
            id="fullName"
            required
            disabled
          />
          <div class="invalid-feedback">Please provide your full name</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="username">Username: </label>
          <input
            class="form-control"
            type="text"
            id="username"
            required
            disabled
          />
          <div class="invalid-feedback">Please provide your username</div>
        </div>

        <div class="row">
          <div class="col mb-3 d-grid">
            <button
              class="btn btn-dark"
              id="edit-button"
              type="button"
              disabled
            >
              Edit
            </button>
          </div>
          <div class="col mb-3">
            <form class="d-grid delete-user" method="POST">
              <button
                class="btn btn-dark"
                id="delete-button"
                type="button"
                disabled
              >
                Delete
              </button>
            </form>
          </div>
        </div>

        <hr />
      </div>

      <div class="col-md-6 mb-3">
        <div class="card">
          <!-- <h3 class="card-title text-center mb-3">Accounts</h3> -->
          <div class="card-body table-responsive user-table-container p-0">
            <table
              id="userTable"
              class="table table-bordered table-striped table-dark"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>role</th>
                  <th>fullname</th>
                  <th>username</th>
                  <th hidden>Id</th>
                </tr>
              </thead>

              <tbody>
                <% let count = 1 %> <% users.forEach(function(user) { %>
                <tr>
                  <td><%= count %></td>
                  <td><%= user.role %></td>
                  <td><%= user.fullName %></td>
                  <td><%= user.username %></td>
                  <td hidden><%= user._id %></td>
                </tr>
                <% count++ %> <% }); %>
              </tbody>
            </table>
            <div class="card-text"></div>
          </div>
        </div>

        <a href="/users/new" class="btn btn-dark d-grid mt-2">Create Account</a>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script>
  $(document).ready(function () {
    let id = "";
    $("#userTable tbody").on("click", "tr", function () {
      var rowData = $(this)
        .children("td")
        .map(function () {
          return $(this).text();
        })
        .get();

      $("#accountType").val(rowData[1]);
      $("#fullName").val(rowData[2]);
      $("#username").val(rowData[3]);
      id = rowData[4];

      $("#edit-button").prop("disabled", false);
      $("#delete-button").prop("disabled", false);
    });

    $("#edit-button").click(function (event) {
      event.preventDefault();
      window.location.href = `/users/${id}/edit`;
    });

    $("#delete-button").on("click", function () {
      const confirmation = confirm(
        "Are you sure you want to delete this user?"
      );

      if (confirmation) {
        $("form.delete-user")
          .attr("action", `/users/${id}?_method=DELETE`)
          .submit();
        console.log("User confirmed deletion");
      } else {
        console.log("Deletion cancelled");
      }
    });
  });
</script>
